<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91375261919-fkq99fjedqljs8r5ipotv6ekm1ftdijt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91375261919-fkq99fjedqljs8r5ipotv6ekm1ftdijt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>91375261919-6r7ip8fil6gefl6cdoo653smvs6vd3fu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCjTD9obI_yZS00fI1vqfoTSzw9SHkDt7o</string>
	<key>GCM_SENDER_ID</key>
	<string>91375261919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.mobile.bogach.uat</string>
	<key>PROJECT_ID</key>
	<string>cash-flow-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>cash-flow-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91375261919:ios:661feb3b764370d5c8b16a</string>
	<key>DATABASE_URL</key>
	<string>https://cash-flow-uat.firebaseio.com</string>
</dict>
</plist>