.DS_Store

google_application_credentials.json
server/cash-flow-staging-firebase-adminsdk-9r4ck-d568e56f39.json

server/firebase_service_account.json

client/ios/Runner/GoogleService-Info.plist

client/android/app/uat/
client/android/app/staging/
client/android/app/production/

client/ios/Flutter/.last_build_id

client/android/key.properties
client/android/app/purchases_test/

ui-debug.log

data/purchasers.json

data/games/

client/.fvm/

data/books/
