<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Богач</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Bogach</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb210237670277363</string>
				<string>com.googleusercontent.apps.91375261919-9tivrvke9vanvc04ot2lgagomul75e4k</string>
				<string>com.googleusercontent.apps.911577434143-cqa3fpp3sg3g0u3c14amjj583utpurso</string>
				<string>com.googleusercontent.apps.91375261919-fkq99fjedqljs8r5ipotv6ekm1ftdijt</string>
				<string>com.googleusercontent.apps.751206071255-v46q2di7ddbp34djq0vvknei861mdnoo</string>
				<string>com.googleusercontent.apps.911577434143-b61c4c096gea6n3km8qj2ciqdn274dsj</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Firebase Dynamic Links Staging</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>io.mobile.bogach.staging</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Firebase Dynamic Links</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>io.mobile.bogach</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Firebase Dynamic Links UAT</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>io.mobile.bogach.uat</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>210237670277363</string>
	<key>FacebookDisplayName</key>
	<string>Богач</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://bogach-game.ru/app</string>
		<string>https://staging.app.bogach-game.ru/app</string>
		<string>https://staging.bogach-game.ru/join</string>
		<string>https://staging.bogach-game.ru</string>
		<string>https://bogach-game.ru</string>
		<string>https://bogach-game.ru/join</string>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3584659164590042~5559630399</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>itms</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera for the creation of your avatar image</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library for the selection of your avatar image</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
