<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751206071255-v46q2di7ddbp34djq0vvknei861mdnoo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751206071255-v46q2di7ddbp34djq0vvknei861mdnoo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>751206071255-hapmvuboo8k8gkv0jaa18ok5pc7is0j6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcph7qPMpGvCW1Zb-N-lY592FaKU4Dseg</string>
	<key>GCM_SENDER_ID</key>
	<string>751206071255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.mobile.bogach</string>
	<key>PROJECT_ID</key>
	<string>bogach-production</string>
	<key>STORAGE_BUCKET</key>
	<string>bogach-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751206071255:ios:d0ec4d9db418d2c6352992</string>
	<key>DATABASE_URL</key>
	<string>https://bogach-production.firebaseio.com</string>
</dict>
</plist>